$select: ".footer" !default;

// config
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "./../abstracts/background";
@use "Shared/scss/templates/base/abstracts/list";
@use "Shared/scss/templates/base/abstracts/space";

@mixin base {
    #{$select} {
        flex-basis: clamp(
            var(--media-text-min-height, 30rem),
            var(--media-text-range-height, 50vmax),
            var(--media-text-max-height, 35rem)
        );

        @include background.color-map(
            $background-color: var(--main-text-color),
            $text-color: var(--main-background-color)
        ) {
        }

        nav {
            @include list.structure($offset: 0);
            @include list.inline {
            }

            margin-top: 2rem;
        }

        a {
            text-align: left;

            &:not(:hover):not(:focus) {
                text-decoration: none;
            }
        }

        button {
            font: inherit;
            color: inherit;
            text-align: left;
            word-break: break-word;

            &:not(:hover):not(:focus) {
                text-decoration: none;
            }
        }

        @content;
    }
}
