$select: ".view" !default;
$scroll-offset: 2em !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// utils
@use "Shared/scss/templates/base/utils/view" with (
    $breakpoint: queries.get(navbar)
);

@mixin base {
    @include view.base;

    @include view.set-anchor-position(
        $static-amount: -#{$scroll-offset},
        $dynamic-amount: -#{$scroll-offset}
    );

    @include view.zero-anchor-position("[data-viewport]");

    #{$select} {
        &__anchor {
            width: 1px;
            height: 1px;
        }

        &__scroll {
            top: 0;
        }

        @content;
    }
}
