$base: 1;
$scroll-offset: 4em;

// utils
@use "Shared/scss/templates/base/utils/unit-conversion" with (
    $base: $base
);
@use "Shared/scss/templates/base/utils/scope";
@use "Shared/scss/templates/base/utils/svg-icon";
@use "Shared/scss/templates/base/utils/sr";
@use "./../utils/view" with (
    $scroll-offset: $scroll-offset
);
@use "./../utils/section";

// components
@use "Shared/scss/templates/base/components/link";
@use "Shared/scss/templates/base/components/skip-link";

// layouts
@use "./../layouts/document" with (
    $base: $base,
    $scroll-offset: $scroll-offset
);
@use "./../layouts/header";
@use "./../layouts/nav";
@use "./../layouts/footer";

@mixin critical {
    // utils
    @include view.base;
    @include section.base;
    @include sr.base;
    @include svg-icon.base;

    // components
    @include link.base;
    @include skip-link.base;

    // layouts
    @include document.base;
    @include document.root;
    @include document.body;

    @include header.base;
    @include header.has-nav;

    @include nav.base;
    @include footer.base;

    @content;
}

@mixin defer {
    @content;
}
