$select: ".ui-icon" !default;

@mixin base {
    #{$select} {
        font-size: var(--ui-icon-scale-size, 2em);

        display: flex;
        align-items: center;

        > svg {
            width: 1em;
            height: 1em;
            fill: currentColor;
        }

        @content;
    }
}
