$select: ".ui-icon" !default;

@mixin base {
    #{$select} {
        font-size: var(--ui-icon-scale-size, 2em);

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > svg {
            width: 1em;
            height: 1em;
            fill: currentColor;
        }

        @content;
    }
}

@mixin can-wrap {
    #{$select} {
        &--can-wrap {
            #{$select} {
            }

            @content;
        }
    }
}
