.slide__thumbnails {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	&--disable {
		.slide__thumbnail {
			pointer-events: none;
		}
	}

	&--scroll {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		flex-wrap: nowrap;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		&::-webkit-scrollbar {
			width: 0.25em;
			height: 0.25em;
			background: rgb(215, 215, 215);
		}

		&::-webkit-scrollbar-thumb {
			background: rgb(0, 0, 0);
		}

		> .slide__thumbnail {
			flex-shrink: 0;
		}
	}
}

.slide__thumbnail {
	/* can set the flex basis to customize the grid */
	flex: 1 1 20%;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0.05rem solid;
	background: transparent;
	border-color: inherit;
	color: inherit;
	margin: 0.25rem;
	height: 5em;
	padding: 0;
	position: relative;
	text-decoration: none;

	&::before {
		background: rgba(0, 0, 0, 0.2);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		right: 0;
		bottom: 0;
		transition: opacity 0.3s ease-out;
		z-index: 1;
	}

	&:hover::before,
	&:focus::before,
	&--is-selected::before {
		opacity: 1;
	}
}
