@import "modules/svg";
@import "modules/animation-fade";

@include fade-in;
@include fade-out;
@include css-tailspin;

@mixin viewport-lg {
	@media all and (min-width: 800px) {
		@content;
	}
}

@mixin viewport-sm {
	@media all and (max-width: 800px) {
		@content;
	}
}

body {
	background: #252525;
	color: #ededed;
	font: 400 1rem/1.45 "Noto Sans", serif;

	margin: 0;
}

a {
	color: currentColor;
}

.group {
	$this: &;

	display: flex;

	&__item {
		position: relative;
	}

	&--header {
		align-items: center;

		> #{$this}__item:first-child {
			flex: 1;
		}
	}

	&--main {
		#{$this}__item:first-child {
			flex: 1 1 20vw;
		}

		#{$this}__item:last-child {
			flex: 1 1;
		}
	}

	&--slide {
		@include viewport-sm {
			flex-direction: column;
		}
	}
}

.layout {
	&__header {
		padding: 1em;
		border-bottom: 1px solid rgba(237, 237, 237, 0.54);
		margin-bottom: 1rem;

		h1 {
			margin: 0;
			font-size: 1.7em;
		}
	}

	&__main {
		max-width: 1000px;
		width: 100%;
		margin: auto;
	}
}

.slide {
	$this: &;

	&__into {
		margin: 0.25rem;

		@include viewport-lg {
			height: 450px;
		}

		#{$this}__item {
			height: auto;
		}
	}

	& &__into {
		align-items: stretch;
	}

	&__load {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		display: flex;
		justify-content: center;
		align-items: center;
		contain: strict;

		~ #{$this}__thumbnails {
			opacity: 0.5;
		}
	}

	&__spin {
		font-size: 3rem;

		@include svg-tailspin(
			(
				stroke: white,
				delay: 100ms,
				ondemand: true
			)
		);
	}

	&__thumbnails {
		transition: opacity 0.25s ease-in-out;

		@include viewport-lg {
			max-height: 532px;
			overflow-x: hidden;
			overflow-y: scroll;
		}
	}

	&__is-hidden ~ &__thumbnails {
		opacity: 1;
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;
	}

	button {
		display: inline-flex;
		padding: 1em;
		background: transparent;
		color: #ededed;
		border: 0.15em solid #ededed;
		font-size: 0.9rem;
		transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
		flex: 1 1 100px;
		justify-content: center;
		align-items: center;
		margin: 0.25rem;

		&:hover,
		&:focus {
			background: #ededed;
			color: #252525;
		}
	}
}
