@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes svg-tailspin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes svg-tailspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #252525;
  color: #ededed;
  font: 400 1rem/1.45 "Noto Sans", serif;
  margin: 0;
}

a {
  color: currentColor;
}

.group {
  display: flex;
}

.group__item {
  position: relative;
}

.group--header {
  align-items: center;
}

.group--header > .group__item:first-child {
  flex: 1;
}

.group--main .group__item:first-child {
  flex: 1 1 20vw;
}

.group--main .group__item:last-child {
  flex: 1 1;
}

@media all and (max-width: 800px) {
  .group--slide {
    flex-direction: column;
  }
}

.layout__header {
  padding: 1em;
  border-bottom: 1px solid rgba(237, 237, 237, 0.54);
  margin-bottom: 1rem;
}

.layout__header h1 {
  margin: 0;
  font-size: 1.7em;
}

.layout__main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.slide__into {
  margin: 0.25rem;
}

@media all and (min-width: 800px) {
  .slide__into {
    height: 450px;
  }
}

.slide__into .slide__item {
  height: auto;
}

.slide .slide__into {
  align-items: stretch;
}

.slide__load {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  contain: strict;
}

.slide__load ~ .slide__thumbnails {
  opacity: 0.5;
}

.slide__spin {
  font-size: 3rem;
  display: block;
  padding: 2em;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  will-change: transform;
  opacity: 0;
  -webkit-animation: fade-in 100ms ease-in forwards, svg-tailspin 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 30, fade-out 10.5s ease-in 10.5s forwards;
  animation: fade-in 100ms ease-in forwards, svg-tailspin 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 30, fade-out 10.5s ease-in 10.5s forwards;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E        %3Cpath stroke='hsla(0deg, 0%25, 100%25, 1)' d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='hsla(0deg, 0%25, 100%25, 1)'%3E%3C/path%3E    %3C/svg%3E") no-repeat center center;
  background-size: 3em;
  width: 3em;
  height: 3em;
}

.slide__thumbnails {
  transition: opacity 0.25s ease-in-out;
}

@media all and (min-width: 800px) {
  .slide__thumbnails {
    max-height: 532px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.slide__is-hidden ~ .slide__thumbnails {
  opacity: 1;
}

.slide__nav {
  display: flex;
  flex-wrap: wrap;
}

.slide button {
  display: inline-flex;
  padding: 1em;
  background: transparent;
  color: #ededed;
  border: 0.15em solid #ededed;
  font-size: 0.9rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  flex: 1 1 100px;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
}

.slide button:hover, .slide button:focus {
  background: #ededed;
  color: #252525;
}
/*# sourceMappingURL=style.css.map */